<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="br.ufes.inf.nemo.odercp.rcpapp.Application">
         </run>
      </application>
   </extension>
  
   <extension id="product" point="org.eclipse.core.runtime.products">
  <product application="br.ufes.inf.nemo.odercp.rcpapp.application" name="ODE RCP">
    <property name="appName" value="ODE RCP"> </property>
    <property name="applicationXMI" value="br.ufes.inf.nemo.odercp.rcpapp/Application.e4xmi"> </property>
  </product>
</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="OptionMenu"
               label="Options">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.ChangePassword"
                  label="Change Password"
                  style="push">
            </command>
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.exit"
                  label="Exit"
                  mnemonic="CTRL+W"
                  style="push">
            </command>
         </menu>
         <menu
               label="Project">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateProject"
                  label="Create Project"
                  style="push">
            </command>
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.DeleteProject"
                  label="Delete Project"
                  style="push">
            </command>
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.SelectProject"
                  label="Select Project"
                  style="push">
            </command>
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.DefineTeam"
                  label="Define Team"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="br.ufes.inf.nemo.odercp.rcpapp.sourceprovider.active">
                  <equals
                        value="ENABLED">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               label="Administration">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateUser"
                  label="Create User"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="br.ufes.inf.nemo.odercp.rcpapp.sourceprovider.active">
                  <equals
                        value="ENABLED">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               label="Resources">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateHumanResource"
                  label="Create Human Resource"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="br.ufes.inf.nemo.odercp.rcpapp.sourceprovider.active">
                  <equals
                        value="ENABLED">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               label="Knowledge">
            <menu
                  label="Resources">
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKHumanResource"
                     label="Create Human Resource"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKHardwareResource"
                     label="Create Hardware Resource"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKSoftwareResource"
                     label="Create Software Resource"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Processes">
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKActivity"
                     label="Create Activity"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKArtefact"
                     label="Create Artefact"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKLifeCycleModel"
                     label="Create Life-Cycle Model"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKProcedure"
                     label="Create Procedure"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKProcess"
                     label="Create Process"
                     style="push">
               </command>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="br.ufes.inf.nemo.odercp.rcpapp.sourceprovider.active">
                  <equals
                        value="ENABLED">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               label="Tools">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.ProcessDefinition"
                  label="Process Definition"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="br.ufes.inf.nemo.odercp.rcpapp.sourceprovider.active">
                  <equals
                        value="ENABLED">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.About"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.ExitHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.AboutHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.About"
            name="About">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.ChangePasswordHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.ChangePassword"
            name="Change Password">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateProjectHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateProject"
            name="Create Project">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.SelectProjectHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.SelectProject"
            name="Select Project">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.DefineTeamHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.DefineTeam"
            name="Define Team">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateUserHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateUser"
            name="Create User">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateHumanResourceHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateHumanResource"
            name="Create Human Resource">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.ProcessDefinitionHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.ProcessDefinition"
            name="Process Definition">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.DeleteProjectHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.DeleteProject"
            name="Delete Project">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKHumanResourceHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKHumanResource"
            name="Create Human Resource">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKActivityHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKActivity"
            name="Create Activity">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKArtefactHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKArtefact"
            name="Create Artefact">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKLifeCycleModelHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKLifeCycleModel"
            name="Create Life-Cycle Model">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKProcedureHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKProcedure"
            name="Create Procedure">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKProcessHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKProcess"
            name="Create Process">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKHardwareResourceHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKHardwareResource"
            name="Create Hardware Resource">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKSoftwareResourceHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKSoftwareResource"
            name="Create Software Resource">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CallEditorODE"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.ViewDataODE"
            name="Datas ODE">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="br.ufes.inf.nemo.odercp.rcpapp.pespective.PerspectiveODE"
            id="br.ufes.inf.nemo.odercp.rcpapp.perspective.PerspectiveODE"
            name="PerspectiveODE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="br.ufes.inf.nemo.odercp.rcpapp.views.ViewDataODE"
            id="br.ufes.inf.nemo.odercp.rcpapp.views.ViewDataODE"
            name="Datas ODE"
            restorable="true">
      </view>
     
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.ufes.inf.nemo.odercp.rcpapp.editors.EditorODE"
            default="false"
            id="br.ufes.inf.nemo.odercp.rcpapp.editors.EditorODE"
            name="Datas ODE Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="br.ufes.inf.nemo.odercp.rcpapp.sourceprovider.MenuState">
         <variable
               name="br.ufes.inf.nemo.odercp.rcpapp.sourceprovider.active"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>


</plugin>
