<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="br.ufes.inf.nemo.odercp.rcpapp.Application">
         </run>
      </application>
   </extension>
  
   <extension id="product" point="org.eclipse.core.runtime.products">
  <product application="br.ufes.inf.nemo.odercp.rcpapp.application" name="ODE RCP">
    <property name="appName" value="ODE RCP"> </property>
    <property name="applicationXMI" value="br.ufes.inf.nemo.odercp.rcpapp/Application.e4xmi"> </property>
  </product>
</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="OptionMenu"
               label="Options">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.ChangePassword"
                  label="Change Password"
                  style="push">
            </command>
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.exit"
                  label="Exit"
                  mnemonic="CTRL+W"
                  style="push">
            </command>
         </menu>
         <menu
               label="Project">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateProject"
                  label="Create Project"
                  style="push">
            </command>
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.DeleteProject"
                  label="Delete Project"
                  style="push">
            </command>
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.SelectProject"
                  label="Select Project"
                  style="push">
            </command>
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.DefineTeam"
                  label="Define Team"
                  style="push">
            </command>
         </menu>
         <menu
               label="Administration">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateUser"
                  label="Create User"
                  style="push">
            </command>
         </menu>
         <menu
               label="Resources">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateHumanResource"
                  label="Create Human Resource"
                  style="push">
            </command>
         </menu>
         <menu
               label="Knowledge">
            <menu
                  label="Resources">
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKHumanResource"
                     label="Create Human Resource"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.NewKHardwareResource"
                     label="New Hardware Resource"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.NewKSoftwareResource"
                     label="New Software Resource"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Processes">
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKActivity"
                     label="Create Activity"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.NewKArtefact"
                     label="New Artefact"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.NewKProcess"
                     label="New Process"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.NewKLifeCycleModel"
                     label="New Life-Cycle Model"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.NewKProcedure"
                     label="New Procedure"
                     style="push">
               </command>
               <command
                     commandId="br.ufes.inf.nemo.odercp.rcpapp.command.NewKProcess"
                     label="New Process"
                     style="push">
               </command>
            </menu>
         </menu>
         <menu
               label="Tools">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.ProcessDefinition"
                  label="Process Definition"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="br.ufes.inf.nemo.odercp.rcpapp.command.About"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.ExitHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.exit"
            name="Exit">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.AboutHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.About"
            name="About">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.ChangePasswordHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.ChangePassword"
            name="Change Password">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateProjectHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateProject"
            name="Create Project">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.SelectProjectHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.SelectProject"
            name="Select Project">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.DefineTeamHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.DefineTeam"
            name="Define Team">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.UsersHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateUser"
            name="Create User">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateHumanResourceHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateHumanResource"
            name="Create Human Resource">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.ProcessDefinitionHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.ProcessDefinition"
            name="Process Definition">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.DeleteProjectHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.DeleteProject"
            name="Delete Project">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKHumanResourceHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKHumanResource"
            name="Create Human Resource">
      </command>
      <command
            defaultHandler="br.ufes.inf.nemo.odercp.rcpapp.Handlers.CreateKActivityHandler"
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKActivity"
            name="Create Activity">
      </command>
      <command
            id="br.ufes.inf.nemo.odercp.rcpapp.command.CreateKArtefact"
            name="Create Artefact">
      </command>
      <command
            id="br.ufes.inf.nemo.odercp.rcpapp.command.NewKLifeCycleModel"
            name="New Life-Cycle Model">
      </command>
      <command
            id="br.ufes.inf.nemo.odercp.rcpapp.command.NewKProcedure"
            name="New Procedure">
      </command>
      <command
            id="br.ufes.inf.nemo.odercp.rcpapp.command.NewKProcess"
            name="New Process">
      </command>
      <command
            id="br.ufes.inf.nemo.odercp.rcpapp.command.NewKHardwareResource"
            name="New Hardware Resource">
      </command>
      <command
            id="br.ufes.inf.nemo.odercp.rcpapp.command.NewKSoftwareResource"
            name="New Software Resource">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="br.ufes.inf.nemo.odercp.rcpapp.PerspectiveODE"
            id="br.ufes.inf.nemo.odercp.rcpapp.PerspectiveODE"
            name="PerspectiveODE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="br.ufes.inf.nemo.odercp.rcpapp.ViewHumanResource"
            id="br.ufes.inf.nemo.odercp.rcpapp.ViewHumanResource"
            name="HumanResource"
            restorable="true">
      </view>
     
   </extension>


</plugin>
